body{


}
img{
	max-width: 300px;
	margin-left: 3%;
    margin-top: 7%;
}
h1{
	margin-top: 17%;
	color: white;
	position: absolute;
	left: 30%;
	bottom: 30%;
}
@media (max-width: 700px){
	h1{
		left: 11%;
	}
}
body {
  background: #0d8aa5;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff24;
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}


#contact {
	left: 50%;
	margin-left: -10em;
	margin-top: 600px;
	position: relative;
	width: 20em;
}

#contact input {
	box-sizing: border-box;
	display: block;
	width: 100%;
}

#contact input[type="submit"] {
	left: 50%;
	margin-left: -5em;
	position: relative;
	width: 10em;
}
